@mixin bg-naranja{
	background:$naranja;
	color:white;
}
@mixin bg-blanco($color){
	background:$blanco;
	color:$color;
}
@mixin separador{
	span{
		background:$blanco;
		padding-right:20px;
	}
	background-image: url("../images/heading-bg.png")
}
@mixin tarjeta($border){
	border: 1px solid rgba(152, 152, 152, 0.23);
    border-top:$border;	
	width:100%;
	padding-right: 15px;
    padding-left: 15px;
}
@mixin boton($height){
	padding:5px $height !important;
	background:$naranja;
	font-family:$fuente !important;
	font-size: 16px;
	color: $blanco !important;
	text-transform:$mayusculas !important;
	a{
		color:$blanco !important;
		&:hover{
			text-decoration:none!important;
			background:#F44336!important;
		}
	}
}

