$naranja: #E7663C;
$naranja-transparente: rgba(231, 102, 60, 0.68);
$negro: #525252;
$negro-oscuro:#3E3E3E;
$gris-claro:#F1F1F1;
$gris: #989898;
$blanco: #FFFFFF;
/*fuente*/
$fuente: 'Bebas', Swis721 Cn BT;
$mayusculas: uppercase;